@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #1e293b; /*slate-800*/
  color: white;
}

.teambuilder-container {
  display: flex;
  width: 100%;
}